@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat";
    background: url("./john-morell-zaW3GyYlkLY-unsplash.jpg");
    background-repeat: no-repeat;

}
:root {
    --bg-color : #A78BFA;
    --inp-bg : #4C1D95;
    --btn-hover: #7C3AED
}


.header {
    width: 100vw;;
    padding: 1rem;
    background-color: var(--bg-color);
    color: white;
    border-radius: 0 0 15px 15px;
}
.nav_items {
    list-style: none;
}
.nav_item {
    display: inline-block;
    margin: 0 1.5rem;
   
}
a.active {
    font-weight: bolder;
    font-weight: 700;
}
a {
    text-decoration: none;
    color: white;
}
.main {
   max-width: 35rem;
    margin: 1rem auto;
    padding: 1rem;
    margin-top: 10rem;
    background-color: var(--bg-color);
    border-radius: 15px;
    text-align: center
}
.main h1 {
    font: inherit;
    color: white;
}
.form-control {
    display: inline-block;
}
.form-control label, .form-control input[type="number"] {
    display: block;
}
.form-control input[type="number"] {
    padding: .5rem .7rem;
    border-radius: 7px;
    border: 1px solid #ccc;
    outline: none;
    background: var(--inp-bg);
    color: white;
    width: 169px;
}
.form-control label {
    color: white;
    font-weight: 700;
    margin: 1rem 0;
}
.form-control input:hover {
    border: 1px solid var(--inp-bg);
}

button[type="submit"] {
    background: #4C1D95;
    color: white;
    padding: .6rem .9rem;
    border: 1px solid var(--inp-bg);
    border-radius: 5px;
    margin: 1rem 0;
    font: inherit;
}

button[type="submit"]:hover {
    background: var(--btn-hover);
    cursor: pointer;
}

.output {
    padding: 1rem;
    background:var(--inp-bg);
    color: white;
    font-weight: 900;
    border-radius: 7px;
}


 
.main_calc {
    margin: 1rem auto;
    max-width: 45rem;
    padding: 1rem;
    background: var(--bg-color);
    border-radius: 15px;
    text-align: center;
    
}